# The annoying pycache folder
__pycache__/
classes/__pycache__/
classes/timetable/__pycache__/
classes/surveys/__pycache__/
server/__pycache__

# Codes and tokens
codes/
tokens/

# The configuration file with it's contents
config.py
